header.header
  nav.header__menu.menu
    a.menu__link(href="#") Главная
    a.menu__link(href="#") Проекты
    a.menu__link(href="#") Услуги
    a.menu__link(href="#") Этапы
    //- a.menu__link(href="#") О нас
    a.menu__link(href="#") Контакты
  .contacts__link
    a(href="tel:+375 (12) 345 67 89") +375 (12) 345 67 89
    a(href="mailto:email@gmail.com") email@gmail.com
  a.btn.btn-rec__btn.show__form(data-subject="Перезвоните мне!",href="#") Записаться

  
