.popup__project.popup.animate__animated
  .popup__overlay.overlay.overlay-popup__overlay
  .project__preview.animate__animated(action="")
    .close.project__close
      span
    img#project__img.project__img(src="", alt="")